@model ACSWeb.Models.SAK

@{
    ViewData["Title"] = "Видалити";
}

<h2>Видалення САК</h2>

<h3>Ви впевнені, що хочете видалити дану САК?</h3>
<div>
    <h4>САК:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID в системі:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Назва:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Мат.технічна база:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTBase)
        </dd>
        <dt>
            Виробник:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            Постачальник:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>
        <dt>
            Дата впровадження:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommisioningDate)
        </dd>
        <dt>
            ГПА:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GPA.Type) (id = @Html.DisplayFor(model => model.GPA.ID))
        </dd>
        <dt>
            Тип САК:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SAKType.TypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до переліку</a>
    </form>
</div>
