@model ACSWeb.Models.SAK

@{
    ViewData["Title"] = "Деталі";
}

<h2>Деталі САК</h2>

<div>
    <h4>САК:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID в системі:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Назва
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Мат.-технічна база:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTBase)
        </dd>
        <dt>
            Виробник:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            Постачальник:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>
        <dt>
            Дата впровадження:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommisioningDate)
        </dd>
        <dt>
            ГПА:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GPA.Type) (id = @Html.DisplayFor(model => model.GPA.ID))
        </dd>
        <dt>
            Тип САК:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SAKType.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Змінити</a> |
    <a asp-action="Index">Назад до переліку</a>
</div>
