@model IEnumerable<ACSWeb.Models.SAK>

@{
    ViewData["Title"] = "САК";
}

<h2>Перелік САК</h2>
@*<h2>
    <label asp-for="method" class="control-label"></label>
</h2>*@

<p>
    <a asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                УМГ
            </th>
            <th>
                КС
            </th>
            <th>
                Назва
            </th>
            <th>
                Мат.техн. база
            </th>
            <th>
                Виробник
            </th>
            <th>
                Постачальник
            </th>
            <th>
                Рік встановлення
            </th>
            <th>
                ГПА
            </th>
            <th>
                Тип САК
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GPA.KS.LVU.UMG.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA.KS.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommisioningDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAKType.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
