@model ACSWeb.Models.KS

@{
    ViewData["Title"] = "Details";
}

<h2>Деталі</h2>

<div>
    <h4>KS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LVU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LVU.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pipeline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pipeline.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Змінити</a> |
    <a asp-action="Index">Назад до переліку</a>
</div>
