@model IEnumerable<ACSWeb.Models.KS>

@{
    ViewData["Title"] = "Index";
}

<h2>Перелік КС</h2>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                ЛВУМГ
            </th>
            <th>
                УМГ
            </th>
            <th>
                Газопровід
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVU.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVU.UMG.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pipeline.ShortName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
