@model ACSWeb.Models.GPA

@{
    ViewData["Title"] = "Видалити";
}

<h2>Видалення ГПА</h2>

<h3>Ви впевнені, що хочете видалити наступний ГПА?</h3>
<div>
    <h4>ГПА:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ГПА ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Тип ГПА:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Тип ГТД:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GTDType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VCNType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VCNType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompShopNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompShopNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KS.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до переліку</a>
    </form>
</div>
