@model IEnumerable<ACSWeb.Models.GPA>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCNName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AOType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCNName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationNumber)
            </td>
            @*<td>
                @item.CreationDate.ToString("dd.MM.yyyy HH:mm:ss")   
            </td>
            <td>
                @item.LastEditDate.ToString("dd.MM.yyyy HH:mm:ss")
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KS.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AOType.ShortName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
