@model IEnumerable<ACSWeb.Models.GPA>

@{
    ViewData["Title"] = "Index";
}

<h2>Перелік ГПА</h2>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Тип ГПА
                </th>
                <th>
                    Тип ГТД
                </th>
                <th>
                    Тип ВЦН
                </th>
                <th>
                    Ст. №
                </th>
                <th>
                    № КЦ
                </th>
                <th>
                    КС
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GTDType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCNType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompShopNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KS.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
